.cabecalho {
    background-color: rgba(8, 146, 70, 0.87);
color: rgb(19, 1, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }

    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 32px;
        }

        .cabecalho-imagem{
            width: 20%;  
        }
